<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <!-- For Production -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.min.js"></script>
    <!-- For Development -->
    <!-- <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/proj4js/2.6.0/proj4.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/general.css">
    <link rel="stylesheet" href="/addStation.css">
    <link rel="stylesheet" href="/changes.css">
    <script src="/xhr.js"></script>
    <script src="/changes.js"></script>
    <title>Änderungen</title>
</head>
<body style="overflow: scroll;">
    <div id="chgApp">
        <h1>Änderungen</h1>
        <div class="space10"></div>
        <div id="mots" class="sh">
            <div v-for="(use, mot) in mots" class="mot-box">
                <div class="mot-img" :style="getMotPic(mot)"></div>
                <div class="switch" :class="{ enabled: use }" @click="mots[mot] = !use">
                    <div class="switch-slider"></div>
                </div>
            </div>
        </div>
        <p class="placeholder" v-show="placeholder">Wähle ein Verkehrsmittel aus um Änderungen für entsprechende Linien einzusehen.</p>
        <div class="space10"></div>
        <div class="line-change sh" v-for="line in lineOrder" :key="line.id" v-show="canShow(line.mot)">
            <div class="line-change-head" @click="line.show = !line.show">
                <div class="line-change-icon fa fa-chevron-right" :style="line.show ? 'transform: rotate(90deg)' : ''"></div>
                <div class="line-change-mot" :style="getMotPic(line.mot)"></div>
                <div class="line-change-line">{{ line.line }}</div>
                <div class="line-change-comp">{{ line.comp }}</div>
            </div>
            <div class="line-change-body" v-show="line.show">
                <div class="change sh" v-for="c in line.changes">
                    <div class="change-head" @click="c.show = !c.show">
                        <div class="change-state" :style="getTimeBanner(changes[c.i].time).style">{{ getTimeBanner(changes[c.i].time).info }}</div>
                        <div class="change-title">{{ changes[c.i].title }}</div>
                    </div>
                    <div class="change-body" v-show="c.show">
                        <div class="change-period" v-for="time in changes[c.i].time">
                            <div class="change-time">
                                <span>{{ getTimeLabel(time.start, time.end) }}</span>
                                <span>{{ getDateString(time.start) }}</span>
                            </div>
                            <div class="change-time">
                                <span>bis</span>
                                <span>{{ getDateString(time.end) }}</span>
                            </div>
                        </div>
                        <div class="change-details" v-html="changes[c.i].content"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>