<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <!-- For Production -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.min.js"></script>
    <!-- For Development -->
    <!-- <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/proj4js/2.6.0/proj4.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/general.css">
    <link rel="stylesheet" href="/addStation.css">
    <link rel="stylesheet" href="/monitor.css">
    <link rel="stylesheet" href="/connection.css">
    <script src="/refresh.js"></script>
    <script src="/addStation.js"></script>
    <script src="/xhr.js"></script>
    <script src="/connection.js"></script>
    <title>Abfahrten</title>
</head>
<body>
    <div id="conApp">
        <h1>Verbindungen</h1>
        <div id="station-popup">
            <div id="station-such-container">
                <div class="station-input-container">
                    <input class="line-input" type="text" oninput="queryStations(this)" placeholder="Nach Haltestelle suchen" onfocus="clearMonitor()" autocomplete="off">
                    <button :class="locating ? 'fa fa-compass' : 'fa fa-map-marker'" onclick="locate()"></button>
                </div>
                <div class="station-input-container">
                    <input class="line-input" type="text" oninput="queryStations(this)" placeholder="Nach Haltestelle suchen" onfocus="clearMonitor()" autocomplete="off">
                </div>
                <div class="station-liste" v-show="historyShown">
                    <button v-for="station in history" @click="displayMonitor(station)" :class="{ 'station-selected': station.id == selectedStation }">
                        <span class="halt-symbol history-symbol fa fa-history"></span>
                        <div class="station-list-label">
                            <div class="station-list-name">{{ station.name }}</div>
                            <div class="station-list-city">{{ station.stadt }}</div>
                        </div>
                        <div v-show="station.id == selectedStation" class="stopspinner fa fa-gear"></div>
                    </button>
                </div>
                <div class="station-liste" v-show="stationList.length > 0">
                    <button v-for="station in stationList" @click="displayMonitor(station)" :class="{ 'station-selected': station.id == selectedStation }">
                        <span class="halt-symbol" :class="stopSignIcon"></span>
                        <div class="station-list-label">
                            <div class="station-list-name">{{ station.name + distLabel(station.dist) }}</div>
                            <div class="station-list-city">{{ station.stadt }}</div>
                        </div>
                        <div v-show="station.id == selectedStation" class="stopspinner fa fa-gear"></div>
                    </button>
                    <div v-show="stationList.length == 0">Hier erscheinen die Ergebnisse für Deine Suche</div>
                    <div v-show="stationList.length != 0 && (!showLocals)" id="res-info">Nichts dabei? Entweder zu kurze Eingabe oder vertippt...?</div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>