<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <!-- For Production -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.min.js"></script>
    <!-- For Development -->
    <!-- <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/proj4js/2.6.0/proj4.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/general.css">
    <link rel="stylesheet" href="/addStation.css">
    <link rel="stylesheet" href="/monitor.css">
    <link rel="stylesheet" href="/connection.css">
    <link rel="stylesheet" href="/route.css">
    <script src="/refresh.js"></script>
    <script src="/addStation.js"></script>
    <script src="/xhr.js"></script>
    <script src="/locate.js"></script>
    <script src="/connection.js"></script>
    <script src="/route.js"></script>
    <title>Verbindungen</title>
</head>
<body style="overflow: scroll;">
    <div id="conApp">
        <h1>Verbindungen</h1>
        <div class="conn-details">
            <div class="conn-start" @click="inputType = inputType == 1 ? 0 : 1" :class="{ inputChecked: inputType == 1 }">
                <div class="start-icon"></div>
                <div class="start-data">
                    <div>
                        <span class="start-stop">{{ getSelectedStartStation.name }}</span>
                        <span class="start-city">{{ getSelectedStartStation.stadt }}</span>
                    </div>
                </div>
            </div>
            <div class="space10"></div>
            <div class="conn-end" @click="inputType = inputType == 2 ? 0 : 2" :class="{ inputChecked: inputType == 2 }">
                <div class="end-icon"></div>
                <div class="end-data">
                    <div>
                        <span class="end-stop">{{ getSelectedDestStation.name }}</span>
                        <span class="end-city">{{ getSelectedDestStation.stadt }}</span>
                    </div>
                </div>
            </div>
            <div class="space10"></div>
            <div class="conn-time" @click="inputType = inputType == 3 ? 0 : 3" :class="{ inputChecked: inputType == 3 }">
                <div class="time-icon fa fa-clock-o"></div>
                <div class="time-data">
                    <div>
                        <span class="time-ref">{{ getSelectedTime.ref }}</span>
                        <span class="time-time">{{ getSelectedTime.time }}</span>
                    </div>
                </div>
            </div>
        </div>
        <div id="station-popup" style="display: none">
            <div id="station-such-container">
                <div class="station-input-container">
                    <input class="line-input" type="text" placeholder="Nach Haltestelle suchen" @focus="stationInput = ''" autocomplete="off" v-model="stationInput">
                    <button :class="'fa fa-' + (locating ? 'compass' : 'map-marker')" @click="locateMe"></button>
                </div>
                <div class="space10"></div>
                <div class="station-liste">
                    <button v-for="station in stationList" @click="chooseStop(station)">
                        <span class="halt-symbol" :class="stopSignIcon(station.type)"></span>
                        <div class="station-list-label">
                            <div class="station-list-name">{{ station.name }}</div>
                            <div class="station-list-city">{{ station.stadt }}</div>
                        </div>
                    </button>
                    <div v-show="stationList.length == 0">Hier erscheinen die Ergebnisse für Deine Suche</div>
                </div>
            </div>
            <div id="date-pick-container">
                <div class="time-now" @click="inputType = 0; selectedTime = null">Ab sofort!</div>
                <div class="space10"></div>
                <input type="datetime-local" v-model="selectedTime">
                <div class="space10"></div>
                <div class="time-ref-select">
                    <div @click="isDeparture = true" :class="{ 'time-ref-selected': isDeparture }">Abfahrt</div>
                    <div @click="isDeparture = false" :class="{ 'time-ref-selected': !isDeparture }">Ankunft</div>
                </div>
            </div>
        </div>
        <div id="mots">
            <div v-for="(use, mot) in mots" class="mot-box">
                <div class="mot-img" :style="getMotPic(mot)"></div>
                <div class="switch" :class="{ enabled: use }" @click="mots[mot] = !use">
                    <div class="switch-slider"></div>
                </div>
            </div>
        </div>
        <button onclick="connect()">{{ searching ? 'Suche läuft...' : 'Verbindungen suchen' }}</button>
        <div class="connections">
            <div class="connection" v-for="conn in tripData">
                <div class="connection-head" @click="conn.show = !conn.show">
                    <span class="connection-head-icon fa fa-chevron-right" :style="conn.show ? 'transform:rotate(90deg)' : ''"></span>
                    <div class="connection-head-details">
                        <div>
                            <div class="connection-head-info"><i class="fa fa-sign-out"></i>{{ getTime(conn.start) }}</div>
                            <div class="connection-head-info"><i class="fa fa-sign-in"></i>{{ getTime(conn.end) }}</div>
                        </div>
                        <div>
                            <div class="connection-head-info"><i class="fa fa-clock-o"></i>{{ getDuration(conn.duration) }}</div>
                            <div class="connection-head-info"><i class="fa fa-retweet"></i>{{ conn.interchanges }} Umstieg(e)</div>
                        </div>
                    </div>
                </div>
                <div class="connection-body" v-for="segm in conn.route" v-show="conn.show">
                    <div class="connection-body-mot" v-if="segm.isVehicle">
                        <div class="conn-body-mot-icon route-path-after">
                            <div class="route-icon" :style="getRouteMotPic(segm.type)"></div>
                        </div>
                        <div class="conn-body-mot-info">
                            <div class="conn-body-mot-line">{{ segm.line }}</div>
                            <div class="conn-body-mot-dest">{{ segm.dest }}</div>
                        </div>
                    </div>
                    <div class="connection-body-start">
                        <div class="conn-body-start-icon" :class="segm.isVehicle ? 'route-path-before route-path-after' : ''">
                            <div class="route-circle" v-if="segm.isVehicle"></div>
                            <div class="route-icon" :style="getRouteMotPic(segm.type)" v-if="!segm.isVehicle" :class="segm.type == 'Wait' ? 'fa fa-clock-o' : ''"></div>
                        </div>
                        <div class="conn-body-start-info">
                            <div class="conn-body-start-stop" v-if="segm.isVehicle">{{ segm.start.name }}</div>
                            <div class="conn-body-start-stop" v-else-if="segm.type=='Footpath'">Fußweg: {{ getDuration(segm.duration) }}</div>
                            <div class="conn-body-start-stop" v-else-if="segm.type=='StayInVehicle'">Weiterfahrt im selben Fahrzeug</div>
                            <div class="conn-body-start-details">
                                <span v-if="segm.isVehicle"><i class="fa fa-sign-out"></i>{{ getTime(segm.start.time) }}</span>
                                <span v-if="segm.isVehicle && segm.start.platform != null">{{ segm.start.platform }}</span>
                                <span v-if="!segm.isVehicle && segm.wait != null">Übergangszeit: {{ getDuration(segm.wait) }}</span>
                            </div>
                        </div>
                    </div>
                    <div class="connection-body-end" v-if="segm.isVehicle">
                        <div class="conn-body-end-icon route-path-before">
                            <div class="route-circle route-circle-fill"></div>
                        </div>
                        <div class="conn-body-end-info">
                            <div class="conn-body-end-stop">{{ segm.end.name }}</div>
                            <div class="conn-body-end-details">
                                <span><i class="fa fa-sign-in"></i>{{ getTime(segm.end.time) }}</span>
                                <span v-if="segm.end.platform != null">{{ segm.end.platform }}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>