<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <!-- For Production -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.min.js"></script>
    <!-- For Development -->
    <!-- <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/proj4js/2.6.0/proj4.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/general.css">
    <link rel="stylesheet" href="/addStation.css">
    <link rel="stylesheet" href="/departure.css">
    <link rel="stylesheet" href="/monitor.css">
    <script src="/departure.js"></script>
    <script src="/refresh.js"></script>
    <script src="/addStation.js"></script>
    <script src="/locate.js"></script>
    <script src="/xhr.js"></script>
    <script src="/mots.js"></script>
    <title>Abfahrten</title>
</head>
<body>
    <div id="depApp">
        <h1>Abfahrtsmonitor</h1>
        <div id="station-popup" class="sh" :class="{clps: Object.keys(departs).length > 0}">
            <div id="station-such-container">
                <div class="station-input-container">
                    <input class="line-input" type="text" placeholder="Nach Haltestelle suchen" onfocus="clearMonitor()" autocomplete="off" v-model="stationInput">
                    <button :class="'fa fa-' + (locating ? 'compass' : 'map-marker')" @click="locateMe"></button>
                </div>
                <div class="space10" v-show="showStationList"></div>
                <div class="station-liste" v-show="showStationList">
                    <button v-for="station in stationList" @click="displayMonitor(station)" :class="{ 'station-selected': station.id == selectedStation }">
                        <span class="halt-symbol" :class="stopSignIcon(station.type)"></span>
                        <div class="station-list-label">
                            <div class="station-list-name">{{ station.name + distLabel(station.dist) }}</div>
                            <div class="station-list-city">{{ station.stadt }}</div>
                        </div>
                        <div v-show="station.id == selectedStation" class="stopspinner fa fa-gear"></div>
                    </button>
                    <div v-show="stationList.length == 0">Hier erscheinen die Ergebnisse für Deine Suche</div>
                </div>
            </div>
        </div>
        <div id="mots" class="clps sh" v-show="Object.keys(departs).length > 0">
            <div v-for="(use, mot) in mots" class="mot-box">
                <div class="mot-img" :style="getMotPic(mot)"></div>
                <div class="switch" :class="{ enabled: use }" @click="mots[mot] = !use">
                    <div class="switch-slider"></div>
                </div>
            </div>
        </div>
        <div v-for="stop in departs" class="monitor-entry sh">
            <div class="monitor-entry-head">
                <span class="monitor-entry-logo"></span>
                <div>
                    <span class="monitor-entry-name">{{ stop.name }}</span>
                    <span class="monitor-entry-city">{{ stop.city }}</span>
                </div>
                <span class="fa fa-close monitor-head-button" style="margin-left:auto" onclick="clearMonitor()"></span>
            </div>
            <div class="monitor-entry-body">
                <div class="depart" v-for="depart in stop.departs" v-if="wantsMot(depart.mot)" :class="{ 'depart-cancel': depart.state == 'Cancelled' }">
                    <span class="depart-logo" :style="getMotPic(depart.mot)"></span>
                    <span class="depart-line">{{ depart.line }}</span>
                    <span class="depart-dir">{{ depart.dir }}</span>
                    <span class="depart-time" :style="delay(depart.dly)"><i class="fa fa-clock-o"></i><span>{{ depart.time }}</span></span>
                    <span class="depart-platform" v-show="settings.showPlatform"><i class="fa fa-map-pin"></i><span>{{ depart.platf }}</span></span>
                </div>
            </div>
        </div>
    </div>
</body>
</html>