<!DOCTYPE html>
<html lang="de">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <!-- For Production -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.min.js"></script>
    <!-- For Development -->
    <!-- <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/proj4js/2.6.0/proj4.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/general.css">
    <link rel="stylesheet" href="/localstops.css">
    <link rel="stylesheet" href="/monitor.css">
    <script src="/localstops.js"></script>
    <script src="/refresh.js"></script>
    <script src="/xhr.js"></script>
    <title>In deiner Nähe</title>
</head>

<body style="overflow: scroll;">
    <div id="locApp">
        <h1>In deiner Nähe</h1>
        <div id="location-requester">
            <p>Für diese Funktion benötigen wir deinen Standort.</p>
            <button onclick="locate()">Standort abfragen</button>
        </div>
        <button onclick="locate()" v-show="relocate">Standort aktualisieren</button>
        <span id="location-wait" class="fa fa-compass" v-show="locating"></span>
        <div id="location-denied">
            <p>Schade! So kannst du diese Funktion nicht nutzen.</p>
            <p>Falls du es dir anders überlegst, musst du die Seite neu laden.</p>
            <button onclick="location.reload()">Neu laden</button>
        </div>
        <div id="location-timeout">
            <p>Wir konnten dich leider nicht lokalisieren...</p>
            <p>Vielleicht wurde deine Verbindung unterbrochen? Versuche, die Seite neuzuladen.</p>
            <button onclick="location.reload()">Neu laden</button>
        </div>
        <div id="monitor">
            <div v-for="stop in stopOrder" class="monitor-entry">
                <div class="monitor-entry-head">
                    <span class="monitor-entry-logo"></span>
                    <div>
                        <span class="monitor-entry-name">{{ stop.name }}</span>
                        <span class="monitor-entry-city">{{ stop.city }}</span>
                    </div>
                    <span class="monitor-entry-distance">~ {{ stop.dist }}m</span>
                </div>
                <div class="monitor-entry-body">
                    <div class="depart" v-for="depart in stop.departs">
                        <span class="depart-logo" :style="getMotPic(depart.mot)"></span>
                        <span class="depart-line">{{ depart.line }}</span>
                        <span class="depart-dir">{{ depart.dir }}</span>
                        <span class="depart-cancel" v-if="depart.state == 'Cancelled'">FäLLT AUS!</span>
                        <span class="depart-time">{{ depart.time }}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>