<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/general.css">
    <link rel="stylesheet" href="/addStation.css">
    <link rel="stylesheet" href="/monitor.css">
    <link rel="stylesheet" href="/tram.css">
    <script src="/xhr.js"></script>
    <script src="/addStation.js"></script>
    <script src="/monitor.js"></script>
    <script src="/tram.js"></script>
    <title>MobiMonitor</title>
</head>
<body>
    <div id="trams">
        <div id="tram-wrapper">
            <iframe id="tram1" src="/Tram1.svg" frameborder="0"></iframe>
            <iframe id="tram2" src="/Tram2.svg" frameborder="0"></iframe>
            <iframe id="tram3" src="/Tram2.svg" frameborder="0"></iframe>
            <iframe id="tram4" src="/Tram2.svg" frameborder="0"></iframe>
        </div>
    </div>
    <div id="app" style="display:none">
        <h1>Dein MobiMonitor</h1>
        <div id="monitor">
            <p v-show="Object.keys(departs).length == 0">Hier ist ja noch alles leer! Warum f&uuml;gst Du nicht als erstes ein paar Stationen ein?</p>
            <div v-for="(stop, id) in departs" class="monitor-entry">
                <div class="monitor-entry-head">
                    <span class="monitor-entry-logo"></span>
                    <div>
                        <span class="monitor-entry-name">{{ stop.name }}</span>
                        <span class="monitor-entry-city">{{ stop.city }}</span>
                    </div>
                    <span @click="editStation(id)" class="fa fa-edit monitor-head-button" style="margin-left:auto"></span>
                    <span @click="removeStation(id)" class="fa fa-trash-o monitor-head-button"></span>
                </div>
                <div class="monitor-entry-body">
                    <div class="depart" v-for="depart in departs[id].departs">
                        <span class="depart-logo" :style="getMotPic(depart.mot)"></span>
                        <span class="depart-line">{{ depart.line }}</span>
                        <span class="depart-dir">{{ depart.dir }}</span>
                        <span class="depart-time">{{ depart.time }}</span>
                    </div>
                </div>
            </div>
        </div>
        <button onclick="stationPopup(null)">Station hinzuf&uuml;gen</button>
        <div id="station-popup" style="display:none">
            <div id="station-such-container">
                <input id="line-input" type="text" oninput="queryStations()" placeholder="Nach Haltestelle suchen">
                <div id="station-liste">
                    <button v-for="station in stationList" @click="setStation(station)" :class="{ 'station-selected': station.id == selectedStation }">
                        <span class="halt-symbol"></span>
                        <div class="station-list-label">
                            <div class="station-list-name">{{ station.name }}</div>
                            <div class="station-list-city">{{ station.stadt }}</div>
                        </div>
                    </button>
                    <div v-show="stationList.length == 0">Hier erscheinen die Ergebnisse f&uuml;r Deine Suche</div>
                    <div v-show="stationList.length != 0" id="res-info">Nichts dabei? Entweder zu kurze Eingabe oder vertippt...?</div>
                </div>
            </div>
            <div id="linienwahl-container" v-show="selectedStation !== null && lineList.length > 0">
                <p>Bitte w&auml;hle die Linien aus, die Dich interessieren:</p>
                <button onclick="selectAllLines(true)">Alle ausw&auml;hlen</button>
                <button onclick="selectAllLines(false)">Alle abw&auml;hlen</button>
                <div id="linien-liste">
                    <div v-for="line in lineList" class="linien-container" @click="line.state = line.state == false">
                        <span class="line-symbol" :style="getMotPic(line.mot)"></span>
                        <span class="line-label">{{ line.line }}</span>
                        <span class="line-checkmark" v-show="line.state"></span>
                    </div>
                </div>
            </div>
            <p v-show="wereLinesSelected">Alles fertig eingestellt?</p>
            <button v-show="wereLinesSelected" onclick="submitStation()" id="station-submit">Alles klar, das passt so!</button>
            <button onclick="stationPopup(null)">Hab's mir anders &uuml;berlegt - Abbrechen!</button>
        </div>
        <a target="_blank">Infoseite</a>
    </div>
    <span id="v">1.0.2</span>
</body>
</html>