<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <!-- For Production -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
    <!-- For Development -->
    <!-- <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/general.css">
    <link rel="stylesheet" href="/addStation.css">
    <link rel="stylesheet" href="/monitor.css">
    <link rel="stylesheet" href="/tram.css">
    <script src="/xhr.js"></script>
    <script src="/addStation.js"></script>
    <script src="/refresh.js"></script>
    <script src="/monitor.js"></script>
    <script src="/tram.js"></script>
    <title>MobiMonitor</title>
</head>
<body>
    <div id="trams">
        <div id="tram-wrapper">
            <iframe id="tram1" src="/Tram1.svg" frameborder="0"></iframe>
            <iframe id="tram2" src="/Tram2.svg" frameborder="0"></iframe>
            <iframe id="tram3" src="/Tram2.svg" frameborder="0"></iframe>
            <iframe id="tram4" src="/Tram2.svg" frameborder="0"></iframe>
        </div>
    </div>
    <div id="panel-switch">
        <span onclick="moveTabFrame(1)" class="tab fa fa-home"></span>
        <span onclick="moveTabFrame(2)" class="tab fa fa-bus"></span>
        <span onclick="moveTabFrame(3)" class="tab fa fa-code-fork"></span>
        <span onclick="moveTabFrame(4)" class="tab fa fa-warning"></span>
        <span onclick="moveTabFrame(5)" class="tab fa fa-question-circle"></span>
    </div>
    <span id="tab-frame"></span>
    <div id="app" style="display: none">
        <div class="panel" id="mainpanel" :style="panelOffset(1)" style="display:block;flex-direction:column">
            <div>
                <h1>Dein MobiMonitor</h1>
                <div id="alert" :class="showAlert ? 'show' : ''">Die VVO-Fahrplan-API ist derzeit nicht erreichbar. Versuche es in wenigen Minuten erneut.</div>
                <div id="monitor">
                    <p v-show="Object.keys(departs).length == 0">Hier ist ja noch alles leer! Warum fügst Du nicht als erstes ein paar Stationen ein?</p>
                    <div v-for="(stop, i) in stopOrder" class="monitor-entry sh">
                        <div class="monitor-entry-head">
                            <span class="monitor-entry-logo"></span>
                            <div>
                                <span class="monitor-entry-name">{{ stop.name }}</span>
                                <span class="monitor-entry-city">{{ stop.city }}</span>
                            </div>
                            <span @click="editStation(stop)" class="fa fa-edit monitor-head-button" style="margin-left:auto"></span>
                            <span @click="removeStation(stop.id)" class="fa fa-trash-o monitor-head-button"></span>
                            <div class="station-switcher">
                                <span @click="swapStations(i-1)" class="fa fa-chevron-up" v-if="i>0"></span>
                                <span @click="swapStations(i)" class="fa fa-chevron-down" v-if="i+1<stopOrder.length"></span>
                            </div>
                        </div>
                        <div class="monitor-entry-body">
                            <div class="depart" v-for="depart in stop.departs">
                                <span class="depart-logo" :style="getMotPic(depart.mot)"></span>
                                <span class="depart-line">{{ depart.line }}</span>
                                <span class="depart-dir">{{ depart.dir }}</span>
                                <span class="depart-cancel" v-if="depart.state == 'Cancelled'">FÄLLT AUS!</span>
                                <span class="depart-time">{{ depart.time }}</span>
                            </div>
                        </div>
                    </div>
                </div>
                <button onclick="stationPopup(null)">Station hinzufügen</button>
                <div id="station-popup" style="display:none" class="sh">
                    <div id="station-such-container" v-show="!editing">
                        <input class="line-input" type="text" placeholder="Nach Haltestelle suchen" v-model="stationInput">
                        <div class="space10"></div>
                        <div class="station-liste">
                            <button v-for="station in stationList" @click="setStation(station)" :class="{ 'station-selected': station.id == selectedStation }">
                                <span class="halt-symbol" :class="stopSignIcon(station.type)"></span>
                                <div class="station-list-label">
                                    <div class="station-list-name">{{ station.name }}</div>
                                    <div class="station-list-city">{{ station.stadt }}</div>
                                </div>
                            </button>
                            <div v-show="stationList.length == 0">Hier erscheinen die Ergebnisse für Deine Suche</div>
                        </div>
                    </div>
                    <div id="linienwahl-container" v-show="selectedStation !== null && lineList.length > 0">
                        <p>Bitte wähle die Linien aus, die Dich interessieren:</p>
                        <button onclick="selectAllLines(true)">Alle auswählen</button>
                        <button onclick="selectAllLines(false)">Alle abwählen</button>
                        <div class="space10"></div>
                        <div id="linien-liste">
                            <div class="linien-container sh" v-for="(line, lineIndex) in lineList">
                                <div class="linien-container-head" @click="line.state = !line.state">
                                    <span class="line-symbol" :style="getMotPic(line.mot)"></span>
                                    <span class="line-label">{{ line.line }}</span>
                                    <div class="switch" :class="{ enabled: line.state }" style="margin-left:auto">
                                        <div class="switch-slider"></div>
                                    </div>
                                </div>
                                <div class="linien-container-body" v-show="line.state">
                                    <div class="linien-container-switch">
                                        <span :class="{active: line.filterMode == 0}" @click="line.filterMode = 0" class="sh">Nicht nach ...</span>
                                        <span :class="{active: line.filterMode == 1}" @click="line.filterMode = 1" class="sh">Nur nach ...</span>
                                        <i class="info-alert fa fa-question-circle" style="flex:none" @click="dirHint"></i>
                                    </div>
                                    <div class="linien-container-dir" v-show="line.filterMode == 0" v-for="(dir, dirIndex) in line.doNotUse">
                                        <span class="linien-container-dir-symbol fa fa-exchange"></span>
                                        <div class="linien-container-dir-name">{{ dir }}</div>
                                        <span class="linien-container-dir-symbol fa fa-close" style="margin-left:auto" @click="removeFilter(lineIndex, 0, dirIndex)"></span>
                                    </div>
                                    <div class="linien-container-dir" v-show="line.filterMode == 1" v-for="(dir, dirIndex) in line.useOnly">
                                        <span class="linien-container-dir-symbol fa fa-exchange"></span>
                                        <div class="linien-container-dir-name">{{ dir }}</div>
                                        <span class="linien-container-dir-symbol fa fa-close" style="margin-left:auto" @click="removeFilter(lineIndex, 1, dirIndex)"></span>
                                    </div>
                                    <div class="linien-container-plus" @click="addFilter(lineIndex, line.filterMode)"><span class="fa fa-plus-circle"></span>Richtungsfilter hinzufügen</div>
                                </div>
                            </div>
                            <div class="linien-container">
                                <div class="linien-container-head" @click="otherLines = !otherLines">
                                    <span class="line-symbol fa fa-code-fork"></span>
                                    <span class="line-label">weitere Linien</span>
                                    <span class="info-alert fa fa-question-circle" @click.stop="lineHint"></span>
                                    <div class="switch" :class="{ enabled: otherLines }" style="margin-left:auto">
                                        <div class="switch-slider"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="space10"></div>
                    <button class="confirm" v-show="selectedStation !== null" onclick="submitStation()" id="station-submit">Speichern</button>
                    <button class="cancel" onclick="stationPopup(null)">Abbrechen</button>
                </div>
            </div>
            <div id="update-hint">
                <span>Es gibt eine neue Version!</span>
                <button @click="updateInfo(true)">Erfahre mehr</button>
                <button @click="updateInfo(false)">Mir egal</button>
            </div>
        </div>
        <div class="panel" :style="panelOffset(2)">
            <iframe src="/departure" frameborder="0"></iframe>
        </div>
        <div class="panel" :style="panelOffset(3)">
            <iframe src="/connection" frameborder="0"></iframe>
        </div>
        <div class="panel" :style="panelOffset(4)">
            <iframe src="/changes" frameborder="0"></iframe>
        </div>
        <div class="panel" :style="panelOffset(5)">
            <iframe src="/info" frameborder="0"></iframe>
        </div>
    </div>
    <span id="v">2.2.2</span>
</body>
</html>