<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <!-- For Production -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.min.js"></script>
    <!-- For Development -->
    <!-- <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/general.css">
    <link rel="stylesheet" href="/addStation.css">
    <link rel="stylesheet" href="/monitor.css">
    <link rel="stylesheet" href="/tram.css">
    <script src="/xhr.js"></script>
    <script src="/addStation.js"></script>
    <script src="/monitor.js"></script>
    <script src="/tram.js"></script>
    <title>MobiMonitor</title>
</head>
<body>
    <div id="trams">
        <div id="tram-wrapper">
            <iframe id="tram1" src="/Tram1.svg" frameborder="0"></iframe>
            <iframe id="tram2" src="/Tram2.svg" frameborder="0"></iframe>
            <iframe id="tram3" src="/Tram2.svg" frameborder="0"></iframe>
            <iframe id="tram4" src="/Tram2.svg" frameborder="0"></iframe>
        </div>
    </div>
    <div id="panel-switch">
        <span onclick="moveTabFrame(1)" class="tab fa fa-home"></span>
        <span onclick="moveTabFrame(2)" class="tab fa fa-question-circle"></span>
        <span onclick="moveTabFrame(3)" class="tab fa fa-rotate-left"></span>
    </div>
    <span id="tab-frame"></span>
    <div id="app" style="display: none">
        <div class="panel" id="mainpanel" :style="panelOffset(1)">
            <h1>Dein MobiMonitor</h1>
            <div id="monitor">
                <p v-show="Object.keys(departs).length == 0">Hier ist ja noch alles leer! Warum f&uuml;gst Du nicht als erstes ein paar Stationen ein?</p>
                <div v-for="(stop, id) in departs" class="monitor-entry">
                    <div class="monitor-entry-head">
                        <span class="monitor-entry-logo"></span>
                        <div>
                            <span class="monitor-entry-name">{{ stop.name }}</span>
                            <span class="monitor-entry-city">{{ stop.city }}</span>
                        </div>
                        <span @click="editStation(id)" class="fa fa-edit monitor-head-button" style="margin-left:auto"></span>
                        <span @click="removeStation(id)" class="fa fa-trash-o monitor-head-button"></span>
                    </div>
                    <div class="monitor-entry-body">
                        <div class="depart" v-for="depart in departs[id].departs">
                            <span class="depart-logo" :style="getMotPic(depart.mot)"></span>
                            <span class="depart-line">{{ depart.line }}</span>
                            <span class="depart-dir">{{ depart.dir }}</span>
                            <span class="depart-cancel" v-if="depart.state == 'Cancelled'">F&Auml;LLT AUS!</span>
                            <span class="depart-time">{{ depart.time }}</span>
                        </div>
                    </div>
                </div>
            </div>
            <button onclick="stationPopup(null)">Station hinzuf&uuml;gen</button>
            <div id="station-popup" style="display:none">
                <div id="station-such-container">
                    <input id="line-input" type="text" oninput="queryStations()" placeholder="Nach Haltestelle suchen">
                    <div id="station-liste">
                        <button v-for="station in stationList" @click="setStation(station)" :class="{ 'station-selected': station.id == selectedStation }">
                            <span class="halt-symbol"></span>
                            <div class="station-list-label">
                                <div class="station-list-name">{{ station.name }}</div>
                                <div class="station-list-city">{{ station.stadt }}</div>
                            </div>
                        </button>
                        <div v-show="stationList.length == 0">Hier erscheinen die Ergebnisse f&uuml;r Deine Suche</div>
                        <div v-show="stationList.length != 0" id="res-info">Nichts dabei? Entweder zu kurze Eingabe oder vertippt...?</div>
                    </div>
                </div>
                <div id="linienwahl-container" v-show="selectedStation !== null && lineList.length > 0">
                    <p>Bitte w&auml;hle die Linien aus, die Dich interessieren:</p>
                    <button onclick="selectAllLines(true)">Alle ausw&auml;hlen</button>
                    <button onclick="selectAllLines(false)">Alle abw&auml;hlen</button>
                    <div id="linien-liste">
                        <div v-for="line in lineList" class="linien-container" :class="{'line-selected':line.state}" @click="line.state = line.state == false">
                            <span class="line-symbol" :style="getMotPic(line.mot)"></span>
                            <span class="line-label">{{ line.line }}</span>
                        </div>
                    </div>
                </div>
                <p v-show="wereLinesSelected">Alles fertig eingestellt?</p>
                <button class="confirm" v-show="wereLinesSelected" onclick="submitStation()" id="station-submit">Speichern</button>
                <button class="cancel" onclick="stationPopup(null)">Abbrechen</button>
            </div>
        </div>
        <div class="panel" id="infopanel" :style="panelOffset(2)">
            <h1>Info</h1>
            <h3>Zu erst einmal... Danke!</h3>
            <p>... dass Du dieses Tool nutzt. Dann war der Programmieraufwand wenigstens nicht umsonst.</p>
            <h3>Was ist das hier?</h3>
            <p>MobiMonitor ist eine kleines Tool, mit welchem sich im VVO-Gebiet f&uuml;r eine Vorauswahl von Haltestellen alle Abfahrten &uuml;bersichtlich anzeigen lassen.</p>
            <p>Du steigst immer an derselben Haltestelle ein, aber kannst Dir den Fahrplan trotzdem nicht merken? Kein Problem, MobiMonitor &uuml;bernimmt das f&uuml;r Dich. Versp&auml;tungen sind auch gleich mit einberechnet ;)</p>
            <p>Speicher einfach Deine Wunschstationen in Deinem personalisierten MobiMonitor ab und hab immer alles auf einen Blick parat.</p>
            <h3>Ist das zuverl&auml;ssig?</h3>
            <p>Die Daten kommen direkt der VVO-Web-API und werden aller 15 Sekunden aktualisiert. Demnach ist die Sache ziemlich wasserfest.</p>
            <p>Unter Umst&auml;nden beachtet das Tool jedoch noch nicht, ob Fahrten ausfallen. Das wird sich allerdings noch &auml;ndern.</p>
            <p>Bitte beachte zus&auml;tzlich, dass pro Station nur die Abfahrten der von dir gew&auml;hlten Linien betrachtet werden, sofern sie innerhalb der n&auml;chsten 60 Minuten stattfinden.</p>
            <h3>Ganz wichtig!</h3>
            <p>Bitte beachte, dass jeder, der den Link zu deinem MobiMonitor hat, dort auch alles lesen und &auml;ndern kann.</p>
            <p>Dementsprechend solltest Du Deinen pers&ouml;nlichen Link geheimhalten, MobiMonitor nur auf privaten Ger&auml;ten nutzen oder zumindest Deinen Browserverlauf nachher l&ouml;schen.</p>
            <p>Ferner solltest Du beachten, dass Dein MobiMonitor gel&ouml;scht wird, wenn Du ihn l&auml;nger als 2 Wochen nicht genutzt hast.</p>
            <h3>Gibt's das auch als App?</h3>
            <p>Du kannst Deinen MobiMonitor auf Deinen Home-Bildschirm laden - dann funktioniert sie genau so wie eine App!</p>
            <p>Du wei&szlig;t nicht, wie das geht? Das erf&auml;hrst du <a href="https://support.apple.com/de-de/guide/iphone/iph42ab2f3a7/ios#iph4f9a47bbc" target="_blank">hier (iOS)</a> bzw. <a href="http://mzl.la/1ApHClH" target="_blank">hier (Android)</a>.</p>
            <h3>Datenschutz!?!</h3>
            <p>Cookies? Wer braucht das schon. Wir speichern nur die von Dir get&auml;tigten Einstellungen - und sonst nichts! Keine personenbezogenen Daten!</p>
            <p>Wenn du genau wissen willst, was wir &uuml;ber Dich wissen, kannst Du Dir <a id="datalink">hier</a> eine JSON-Datei davon runterladen.</p>
            <p>&Ouml;ffne die Datei mit einem Texteditor deines Vertrauens, f&uuml;ge den Inhalt der Datei einfach in <a href="https://jsonformatter.curiousconcept.com/" target="_blank">diesem Tool</a> ein und schon wird alles lesbar!</p>
            <h3>Dieser #*%!$ funktioniert nicht!</h3>
            <p>Ziehe bitte in Betracht, dass das Tool von einer Person auf die Beine gestellt wurde. Bugs sind damit vorprogrammiert - wortw&ouml;rtlich.</p>
            <p>Aber wenn Dir ein Fehler auff&auml;llt, dann lass es doch einfach den Entwickler wissen, damit er sich darum k&uuml;mmern kann ;)</p>
        </div>
        <div class="panel" id="changelogpanel" :style="panelOffset(3)">
            <h1>Changelog</h1>
            <h3>2.0.0 [Feb 12, 2020]</h3>
            <p><b>Feature:</b> Der MobiMonitor hat jetzt ein neues Farbschema sowie einen Dunkelmodus.</p>
            <p><b>Feature:</b> Der neue Stadtbahnwagen für Dresden fungiert als Ladesymbol.</p>
            <p><b>Feature:</b> Ab sofort werden pro Linie und Richtung die n&auml;chsten zwei Fahrten (statt nur einer) innerhalb der n&auml;chsten Stunde angezeigt.</p>
            <p><b>Feature:</b> Es wird jetzt angezeigt, wenn eine Fahrt ausf&auml;llt.</p>
            <p><b>Feature:</b> Abfahrtsmonitor und Infoseite sind nun auf einer Seite. Zwischen den beiden Ansichten l&auml;sst sich &uuml;ber das neue Men&uuml; am unteren Bildschirmrand wechseln.</p>
            <p><b>Feature:</b> Dieser Changelog hier ist ebenso neu :o</p>
            <p><b>Bugfix:</b> Mangels Zwischenzertifikaten hat die Seite zwischenzeitlich nicht mit Firefox funktioniert. Das ist nun behoben.</p>
            <p><b>Bugfix:</b> Regionalz&uuml;ge, die zu keiner Linie im VVO geh&ouml;ren, werden nun ohne Linie angezeigt, da es sonst zu Formatierungsfehlern kam.</p>
            <p><b>Bugfix:</b> Einige kleinere Formatierungsfehler wurden behoben und redundante Codestellen entfernt.</p>
            <h3>1.0.2 [Jan 4, 2020]</h3>
            <p><b>Bugfix:</b> Fernzüge (IC/ICE/EC/RJ) werden jetzt nur noch angezeigt, wenn die Linie 'IC/ICE' ausgew&auml;hlt wurde.</p>
            <h3>1.0.1 [Jan 2, 2020]</h3>
            <p><b>Bugfix:</b> L&ouml;&szlig;nitzgrund- und Wei&szlig;eritztalbahn werden jetzt als 'L&ouml;B' und 'WeB' angezeigt.</p>
            <h3>1.0.0 [Jan 1, 2020]</h3>
            <p>Erstveröffentlichung :)</p>
        </div>
    </div>
    <span id="v">1.0.2</span>
</body>
</html>