#station-popup {
    border-radius: 10px;
    padding: 10px;
    flex-direction: column;
    margin: 10px;
}

input[type="text"] {
    display: block;
    font-size: 16px;
    padding: 10px;
    border-radius: 10px;
    margin: 0;
    width: 100%;
    box-sizing: border-box;
}

.station-input-container {
    display: flex;
}

.station-input-container button {
    margin: 0;
    padding: 0;
    border-radius: 10px;
    width: 40px;
    margin-left: 5px;
    flex: none;
    font-size: 25px;
}

.station-liste, #linien-liste {
    border-radius: 10px;
    margin: 10px 0;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.station-liste button {
    margin: 3px;
    padding-left: 10px;
    border-radius: 10px;
    text-align: left;
    font-size: 16px;
    position: relative;
}

.station-liste .halt-symbol {
    background-image: url('https://www.vvo-mobil.de/img/stop.svg');
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    width: 30px;
    filter: invert(1) brightness(25%);
    height: 100%;
    top: 0;
    bottom: 0;
}

.station-liste .station-list-label {
    margin-left: 40px;
    display: inline-block;
}

.station-liste .station-list-city {
    font-weight: 500;
    font-size: 14px;
}

#res-info {
    margin-top: 5px;
    margin-left: 5px;
}

#linienwahl-container button {
    font-weight: 500;
    font-size: 16px;
    margin: 0;
    padding: 5px 10px;
}

.linien-container {
    margin: 3px;
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
}

.linien-container-head, .linien-container-dir {
    display: flex;
    align-items: center;
    padding: 8px 12px;
}

.line-symbol {
    width: 30px;
    height: 30px;
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    font-size: 30px;
}

.line-label {
    font-weight: 600;
    font-size: 20px;
    margin: 0 10px;
}

.linien-container-switch {
    display: flex;
    align-items: center;
}

.linien-container-switch span {
    flex: 1;
    padding: 5px;
    border-radius: 5px;
    margin: 5px;
}

.linien-container-dir-symbol {
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    padding: 0 5px;
}

.linien-container-dir-name {
    margin: 0 10px;
    text-align: left;
}

.linien-container-plus span {
    margin: 5px;
    padding: 5px;
}

.info-alert {
    width: 30px;
    height: 30px;
    font-size: 24px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

input[type="text"] { border: 1px solid #a9a9a9; }

#station-popup {
    border: 2px solid #a9a9a9;
    background-color: #e4e4e4;
    color: #404040;
}

.station-liste, #linien-liste {
    border: 2px solid #a9a9a9;
    background-color: #cacaca;
}

.station-liste button, .linien-container-head {    
    background-color: #b4dfe5;
}

.station-liste button.station-selected {
    background-color: #ffab61;
}

.linien-container-body {
    background-color: #d3f4f9;
    font-size: 14px;
}

.linien-container-switch span {
    background-color: #cacaca;
}

.linien-container-switch span.active {
    background-color: #ffab61;
}

#linienwahl-container button {
    background-color: #ffab61;
}

.info-alert { color: #4444; }

@media (prefers-color-scheme: dark) {
    input[type="text"] { border: 1px solid #88bdbc; }
    
    #station-popup {
        border: 2px solid #88bdbc;
        background-color: #254e58;
    }

    #linienwahl-container button {
        color: #254e58;
        background-color: #88bdbc;
    }

    .station-liste, #linien-liste {
        border: 2px solid #88bdbc;
        background-color: #112d32;
        color: #88bdbc;
    }

    .station-liste button, .linien-container-head {
        color: #fff;
        background-color: #254e58;
    }

    .station-liste button.station-selected {
        background-color: #88bdbc;
        color: #254e58;
    }

    .station-liste .halt-symbol {
        filter: invert(1);
    }

    .station-liste button.station-selected .halt-symbol {
        filter: invert(21%) sepia(4%) saturate(6142%) hue-rotate(145deg) brightness(104%) contrast(81%);
    }

    .linien-container-body { 
        background-color: #3c7988;
        color: #fff;
    }

    .linien-container-switch span {
        background-color: #254e58;
    }
    
    .linien-container-switch span.active {
        background-color: #88bdbc;
    }

    .info-alert { color: #fff6; }
}