.line-change {
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 10px;
    background-color: var(--accent-light);
}

.line-change-head {
    display: flex;
    font-size: 20px;
    padding: 10px;
    align-items: center;
    background-color: var(--accent-dark);
}

.line-change-icon {
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: none;
    transition: 0.3s;
}

.line-change-mot {
    width: 25px;
    height: 25px;
    flex: none;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.line-change-line {
    font-weight: bold;
    margin: 0 5px;
}

.line-change-comp {
    margin-left: auto;
    margin-right: 5px;
}

.line-change-body {
    padding: 10px;
}

.change {
    border-radius: 12px;
    overflow: hidden;
    border: 3px solid var(--accent-dark);
}

.change:not(:last-child) {
    margin-bottom: 10px;
}

.change-head {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 5px;
    background-color: var(--accent-dark);
}

.change-title {
    font-weight: bold;
    margin-top: 5px;
}

.change-state {
    font-weight: bold;
    padding: 3px;
    border-radius: 5px;
    letter-spacing: 1px;
}

.change-body {
    padding: 5px;
    border-top: 3px solid var(--accent-dark);
}

.change-period {
    border-radius: 5px;
    padding: 2px;
    border: 1px solid var(--text-std);
}

.change-period:not(:first-child) {
    margin-top: 5px;
}

.change-time {
    padding: 2px;
    font-size: 15px;
}

.change-time span:first-child {
    display: inline-block;
    font-weight: bold;
    width: 30px;
    font-size: 16px;
}

.change-details {
    margin-top: 5px;
}

.change-details h2 {
    font-size: 20px;
    margin: 0 0 10px 0;
    color: var(--heading);
}

.change-details p {
    text-align: left;
    margin: 0 0 15px 0;
    padding: 0;
}

.change-details ul {
    padding-left: 25px;
    margin: 0 0 15px 0;
}

.change-details li {
    margin-bottom: 5px;
}