#conApp {
    color: #404040;
}

.conn-details {
    margin: 10px;
    text-align: left;
}

.conn-start {
    border-radius: 10px;
    height: 50px;
    display: flex;
    overflow: hidden;
}

.start-icon, .end-icon, .time-icon {
    width: 15%;
    height: 50px;
    position: relative;
    flex: none;
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.start-icon::before {
    content: "";
    height: 10px;
    width: 10px;
    border-radius: 10px;
    position: absolute;
    top: 15px;
    left: 50%;
    transform: translateX(-50%);
}

.start-icon::after {
    content: "";
    height: 20px;
    width: 5px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
}

.start-data {
    display: flex;
    align-items: center;
    padding: 0 5px;
    flex-wrap: wrap;
}

.start-stop {
    font-weight: bold;
}

.conn-end {
    border-radius: 10px;
    height: 50px;
    display: flex;
    overflow: hidden;
}

.end-icon::before {
    content: "";
    height: 10px;
    width: 10px;
    border-radius: 10px;
    position: absolute;
    top: 15px;
    left: 50%;
    transform: translateX(-50%);
}

.end-icon::after {
    content: "";
    height: 20px;
    width: 5px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 0;
}

.end-data {
    display: flex;
    align-items: center;
    padding: 0 5px;
    flex-wrap: wrap;
}

.end-stop {
    font-weight: bold;
}

.conn-time {
    border-radius: 10px;
    height: 50px;
    display: flex;
    overflow: hidden;
}

.time-data {
    display: flex;
    align-items: center;
    padding: 0 5px;
    flex-wrap: wrap;
}

.time-time {
    font-weight: bold;
}

.time-now {
    padding: 5px;
    border-radius: 10px;
    font-weight: bold;
}

#date-pick-container input {
    display: block;
    font-size: 16px;
    padding: 10px;
    border-radius: 10px;
    margin: 0;
    width: 100%;
    box-sizing: border-box;
}

.time-ref-select {
    display: flex;
    justify-content: space-between;
}

.time-ref-select div {
    padding: 5px;
    border-radius: 10px;
    width: 45%;
    display: flex;
    justify-content: center;
}

.conn-details>div.inputChecked { background-color: #fde999 }

.conn-start { background-color: #d1ddf9 }

.start-icon, .end-icon, .time-icon { background-color: #ffab61 }

.start-icon::before { border: 5px solid #404040 }

.start-icon::after { background-color: #404040 }

.conn-end { background-color: #d1ddf9 }

.end-icon::before {
    border: 5px solid #404040;
    background-color: #404040;
}

.end-icon::after { background-color: #404040 }

.conn-time { background-color: #d1ddf9 }

.time-now { background-color: #ffab61 }

#date-pick-container input { border: 1px solid #a9a9a9 }

.time-ref-select div { background-color: #d1ddf9 }

.time-ref-select .time-ref-selected { background-color: #ffab61 }

@media (prefers-color-scheme: dark) {
    .conn-details>div.inputChecked { background-color: #88bdbc }

    .conn-start { background-color: #254e58 }

    .start-icon, .end-icon, .time-icon {
        background-color: #9693ff;
        color: #fff;
    }

    .conn-start, .conn-end, .conn-time { color: #fff; }

    .conn-end { background-color: #254e58 }

    .conn-time { background-color: #254e58 }

    #date-pick-container { color: #254e58 }
    
    .time-now { background-color: #88bdbc }

    #date-pick-container input { border: 1px solid #88bdbc }

    .time-ref-select div { 
        background-color: #3c7988; 
        color: #fff; 
    }

    .time-ref-select .time-ref-selected { background-color: #88bdbc }
}