.conn-details {
    margin: 10px;
    text-align: left;
    position: relative;
}

.conn-start {
    border-radius: 10px;
    height: 50px;
    display: flex;
    overflow: hidden;
    align-items: center;
}

.conn-start, .conn-end, .conn-time {
    background-color: var(--station);
}

.conn-details>div.inputChecked {
    background-color: var(--accent-light);
}

.start-icon, .end-icon, .time-icon {
    width: 15%;
    height: 50px;
    position: relative;
    flex: none;
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--accent-dark);
}

.start-icon::before {
    content: "";
    height: 10px;
    width: 10px;
    border-radius: 10px;
    position: absolute;
    top: 15px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    border: 5px solid var(--text-std);
    background-color: var(--accent-dark);
}

.start-icon::after {
    content: "";
    height: 20px;
    width: 5px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    background-color: var(--text-std);
}

.start-icon.via-icon::after {
    height: 50px;
}

.start-data {
    display: flex;
    align-items: center;
    padding: 0 5px;
    flex-wrap: wrap;
}

.plus-cross {
    width: 24px;
    height: 24px;
    flex: none;
    border-radius: 12px;
    position: absolute;
    transition: 0.5s;
    z-index: 1;
    background-color: var(--accent-dark);
}

.plus-cross.via-pc {
    right: 10px;
    top: 43px;
}

.plus-cross.via-ext {
    top: 73px;
    transform: rotate(45deg);
}

.plus-cross.int-pc {
    bottom: 0;
    right: 50%;
    transform: translate(50%, 50%) scale(0.8);
}

.plus-cross.int-ext {
    transform: translate(50%, 50%) rotate(45deg) scale(0.8);
}

.plus-cross::before {
    content: "";
    display: block;
    width: 20px;
    height: 4px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--text-std);
}

.plus-cross::after {
    content: "";
    display: block;
    width: 4px;
    height: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--text-std);
}

.start-stop {
    font-weight: bold;
}

.conn-end {
    border-radius: 10px;
    height: 50px;
    display: flex;
    overflow: hidden;
}

.end-icon::before {
    content: "";
    height: 10px;
    width: 10px;
    border-radius: 10px;
    position: absolute;
    top: 15px;
    left: 50%;
    transform: translateX(-50%);
    border: 5px solid var(--text-std);
    background-color: var(--text-std);
}

.end-icon::after {
    content: "";
    height: 20px;
    width: 5px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 0;
    background-color: var(--text-std);
}

.end-data {
    display: flex;
    align-items: center;
    padding: 0 5px;
    flex-wrap: wrap;
}

.end-stop {
    font-weight: bold;
}

.conn-time {
    border-radius: 10px;
    height: 50px;
    display: flex;
    overflow: hidden;
}

.time-data {
    display: flex;
    align-items: center;
    padding: 0 5px;
    flex-wrap: wrap;
}

.time-time {
    font-weight: bold;
}

.time-now {
    padding: 5px;
    border-radius: 10px;
    font-weight: bold;
    background-color: var(--accent-dark);
}

#date-pick-container input {
    display: block;
    font-size: 16px;
    padding: 10px;
    border-radius: 10px;
    margin: 0;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid var(--menu-border);
}

.time-ref-select {
    display: flex;
    justify-content: space-between;
}

.time-ref-select div {
    padding: 5px;
    border-radius: 10px;
    width: 45%;
    display: flex;
    justify-content: center;
    background-color: var(--station);
}

.time-ref-select .time-ref-selected {
    background-color: var(--accent-dark);
}