.conn-details {
    margin: 10px;
    text-align: left;
    position: relative;
}

.conn-segm {
    border-radius: 10px;
    height: 50px;
    display: flex;
    overflow: hidden;
    background-color: var(--station);
}

.conn-segm.inputChecked {
    background-color: var(--accent-light);
}

.conn-icon {
    width: 15%;
    height: 50px;
    position: relative;
    flex: none;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--accent-dark);
}

.conn-icon::before, .conn-icon::after {
    content: "";
    position: absolute;
    transform: translateX(-50%);
    left: 50%;
}

.conn-icon::before {
    height: 10px;
    width: 10px;
    border-radius: 10px;
    top: 15px;
    z-index: 1;
    border: 5px solid var(--text-std);
    background-color: var(--accent-dark);
}

.end-icon::before {
    background-color: var(--text-std);
}

.conn-icon::after {
    background-color: var(--text-std);
    width: 5px;
    height: 20px;
    bottom: 0;
}

.via-icon::after {
    height: 50px;
}

.end-icon::after {
    bottom: 30px;
}

.time-icon {
    width: 15%;
    height: 50px;
    flex: none;
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--accent-dark);
}

.conn-data {
    display: flex;
    align-items: center;
    padding: 0 5px;
    flex-wrap: wrap;
}

.start-stop, .end-stop, .time-time {
    font-weight: bold;
}

.time-now {
    padding: 5px;
    border-radius: 10px;
    font-weight: bold;
    background-color: var(--accent-dark);
}

#date-pick-container input {
    display: block;
    font-size: 16px;
    padding: 10px;
    border-radius: 10px;
    margin: 0;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid var(--menu-border);
}

.time-ref-select {
    display: flex;
    justify-content: space-between;
}

.time-ref-select div {
    padding: 5px;
    border-radius: 10px;
    width: 45%;
    display: flex;
    justify-content: center;
    background-color: var(--station);
}

.time-ref-select .time-ref-selected {
    background-color: var(--accent-dark);
}

.plus-cross {
    width: 24px;
    height: 24px;
    flex: none;
    border-radius: 12px;
    position: absolute;
    transition: 0.5s;
    z-index: 1;
    background-color: var(--accent-dark);
}

.plus-cross.via-pc {
    right: 10px;
    top: 43px;
}

.plus-cross.via-ext {
    top: 73px;
    transform: rotate(45deg);
}

.plus-cross.int-pc {
    bottom: 0;
    right: 50%;
    transform: translate(50%, 50%) scale(0.8);
}

.plus-cross.int-ext {
    transform: translate(50%, 50%) rotate(45deg) scale(0.8);
}

.plus-cross::before {
    content: "";
    display: block;
    width: 20px;
    height: 4px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--text-std);
}

.plus-cross::after {
    content: "";
    display: block;
    width: 4px;
    height: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--text-std);
}