::-webkit-scrollbar {
    display: none;
}

* { scrollbar-width: none; }

h1 {
    margin-bottom: 0;
    text-align: center;
    padding-top: 20px;
    border-radius: 30px 30px 0 0;
    font-size: 50px;
}

h3 {
    margin: 0;
    width: 80%;
    text-align: center;
    padding-bottom: 10px;
    border-radius: 0 0 30px 30px;
    font-size: 24px;
}

p {
    padding: 5px 10px;
    border-radius: 5px;
    width: max-content;
}

button {
    -webkit-appearance: none;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    font-weight: 600;
    font-size: 20px;
    margin: 10px;
}

a {
    padding: 10px;
    border-radius: 10px;
    display: block;
    width: max-content;
    margin: 10px auto;
    text-decoration: none;
}

button:focus {
    outline: none;
}

button:hover {
    cursor: pointer;
}

button.confirm {
    background-color: #7dcea0;
    color: #fff;
}

button.cancel {
    background-color: #f1948a;
    color: #fff;
}

input {
    -webkit-appearance: none;
}

input:focus {
    outline: none;
}

#v {
    color: #a9a9a9;
    font-size: 10px;
    position: absolute;
    top: 0;
    right: 0;
    padding: 5px;
}

button, a { color: #404040 }

h1, h3 { color: #0700d3; }

body { background-color: #e9f0ff }

button, a { background-color: #ffab61 }

p { background-color: #fde999 }

@media (prefers-color-scheme: dark) {
    button, a, p { color: #88bdbc }

    body { background-color: #020b23 }

    button, a { background-color: #254e58 }

    p { background-color: #112d32 }
}