::-webkit-scrollbar {
    display: none;
}

* { scrollbar-width: none; }

:root {
    /* Remember to adjust filter properties when editing --text-std */
    --body: #e9f0ff;
    --heading: #0700d3;
    --text-bright: #fff;
    --text-std: #404040;
    --text-link: #0700d3;
    --confirm: #7dcea0;
    --cancel: #f1948a;
    --accent-dark: #ffab61;
    --accent-light: #fde999;
    --navbar: #99aeff;
    --menu-light: #e4e4e4;
    --menu-dark: #cacaca;
    --menu-border: #a9a9a9;
    --station: #d1ddf9;
    --switch: #7cdf79;
    --shadow: #b1b1b1;
}

@media (prefers-color-scheme: dark) {
    :root {
        /* Remember to adjust filter properties when editing --text-std */
        --body: #000126;
        --heading: #ff5001;
        --text-bright: #fff;
        --text-std: #a7b0fc;
        --text-link: #fff;
        --confirm: #418e58;
        --cancel: #8e4141;
        --accent-dark: #4610a7;
        --accent-light: #3852be;
        --navbar: #043c82;
        --menu-light: #202020;
        --menu-dark: #101010;
        --menu-border: #904500;
        --station: #0e1121;
        --switch: #ff8300;
        --shadow: #b1b1b1;
    }
}

body { 
    font-family: Arial, Helvetica, sans-serif; 
    padding: 0;
    background-color: var(--body);
    color: var(--text-std);
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
}

h1 {
    margin-bottom: 0;
    text-align: center;
    padding-top: 20px;
    border-radius: 30px 30px 0 0;
    font-size: 50px;
    color: var(--heading);
}

@media (max-width: 450px), (max-height: 450px) {
    h1 {
        margin: 10px 0 0 0;
        padding: 0;
        font-size: 34px;
    }
}

h3 {
    margin: 0;
    text-align: center;
    padding-bottom: 10px;
    border-radius: 0 0 30px 30px;
    font-size: 24px;
    color: var(--heading);
}

p {
    padding: 5px 10px;
    border-radius: 5px;
    text-align: center;
    background-color: var(--accent-light);
}

button {
    -webkit-appearance: none;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    font-weight: 600;
    font-size: 20px;
    margin: 10px;
    background-color: var(--accent-dark);
    box-shadow: 0 0 10px -3px var(--shadow);
    color: var(--text-std);
}

@media (max-width: 350px) {
    button {
        padding: 5px 15px;
        font-size: 16px;
    }
}

a {
    text-decoration: underline;
    background: none;
    display: inline;
    border-radius: 0;
    padding: 0;
    margin: 0;
    color: var(--text-link);
}

button:focus {
    outline: none;
}

button:hover {
    cursor: pointer;
}

button.confirm {
    background-color: var(--confirm);
    color: var(--text-bright);
}

button.cancel {
    background-color: var(--cancel);
    color: var(--text-bright);
}

input {
    -webkit-appearance: none;
}

input:focus {
    outline: none;
}

#v {
    color: #a9a9a9;
    font-size: 10px;
    position: absolute;
    top: 0;
    right: env(safe-area-inset-right, 0);
    padding: 5px;
}

.switch {
    height: 20px;
    width: 40px;
    border-radius: 10px;
    transition: 0.3s;
    cursor: pointer;
    min-width: 40px;
    background-color: var(--menu-dark);
}

.switch.enabled { 
    background-color: var(--switch); 
}

.switch-slider {
    height: 20px;
    width: 20px;
    border-radius: 10px;
    margin-left: 0;
    transition: 0.3s;
    box-shadow: 0 0 2px;
    background-color: var(--text-bright);
}

.switch.enabled .switch-slider {
    margin-left: 20px;
}

.space10 {
    height: 10px;
}

.sh { 
    box-shadow: 0 0 10px -3px var(--shadow); 
}