.infobox {
    border-radius: 10px;
    overflow: hidden;
    margin: 10px 0;
    background-color: var(--accent-light);
}

.infobox.open {
    padding-bottom: 10px;
}

.info-title {
    padding: 10px;
    font-weight: bold;
    font-size: 20px;
    display: flex;
    cursor: pointer;
    background-color: var(--accent-dark);
}

.info-title .fa {
    transform: rotate(-90deg);
    transition: 0.3s;
    margin-right: 3px;
    display: flex;
    align-items: center;
}

.infobox.open .info-title .fa {
    transform: rotate(0);
}

.info-p {
    display: none;
    padding: 10px 15px 0 15px;
}

.infobox.open .info-p {
    display: block;
}

.info-h:not(:nth-child(2)) {
    margin-top: 8px;
}

.changelog div:not(.info-title) {
    display: none;
    padding: 10px 15px 0 15px;
}

.chlg-h {
    font-weight: bold;
    font-size: 18px;
}

.chlg-h:not(:nth-child(2)) {
    margin-top: 8px;
}

.changelog.open div:not(.info-title) {
    display: block;
}

.chlg-f::before {
    content: "Feature";
    display: block;
    font-style: italic;
    letter-spacing: 2px;
    margin-bottom: 5px;
}

.chlg-b::before {
    content: "Bugfix";
    display: block;
    font-style: italic;
    letter-spacing: 2px;
    margin-bottom: 5px;
}