body {
    background-color: #efefef;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 30px;
}

h3 {
    color: #ff3b3f;
}

p {
    text-align: center;
}

a {
    color: #ff3b3f;
    text-decoration: underline;
    background: none;
    display: inline;
    border-radius: 0;
    padding: 0;
    margin: 0;
}