@keyframes bounce {
    from { transform: rotate(0deg); }
    to { transform: rotate(30deg); }
}

#location-wait {
    font-size: 60px;
    margin: 10px;
    animation: bounce 0.5s ease-in-out infinite alternate;
}

#location-timeout {
    display: none;
}

#location-denied {
    display: none;
}

.monitor-entry-distance {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    font-weight: bold;
}

@media (prefers-color-scheme: dark) {
    #location-wait { color: #fff; }
}