html {
    position: fixed;
    overflow-x: hidden;
    height: 100%;
    width: 100%;
}

body {
    margin: 0;
    text-align: center;
    height: 100%;
    width: 100%;
}

#app {
    transform-origin: top;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

#panel-switch {
    position: fixed;
    bottom: -50px;
    left: 0;
    right: 0;
    height: 50px;
    display: flex;
    z-index: 1;
}

#tab-frame {
    position: fixed;
    bottom: -50px;
    left: 0;
    height: 50px;
    z-index: 2;
    transition: left 0.5s;
}

.tab {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    color: #fff;
}

@media (max-width: 400px) {
    .tab { font-size: 32px; }
}

.panel {
    position: absolute;
    display: none;
    top: 0;
    bottom: 0;
    margin-bottom: 50px;
    padding: 0 20px;
    overflow: visible;
    transition: 0.5s;
}

@media (max-width: 400px) {
    .panel { padding: 0; }
}

iframe {
    width: 100%;
    height: 100%;
}

#monitor {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.monitor-entry {
    border-radius: 15px;
    min-width: 300px;
    height: 250px;
    flex: 1;
    margin: 10px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    text-align: left;
}

.monitor-entry-head {
    display: flex;
    padding: 6px 10px;
    min-height: max-content;
}

.monitor-entry-logo {
    background-image: url('https://www.vvo-mobil.de/img/stop.svg');
    width: 32px;
    display: block;
    filter: invert(1) brightness(25%);
    background-repeat: no-repeat;
    background-position: center;
}

.monitor-entry-name {
    display: block;
    font-weight: 600;
    margin: 0px 8px;
}

.monitor-entry-city {
    display: block;
    font-size: 14px;
    margin: 0px 8px;
}

.monitor-head-button {
    font-size: 25px;
    display: flex;
    align-items: center;
    padding: 0 5px;
}

.monitor-entry-body {
    overflow-x: hidden;
    overflow-y: scroll;
}

.depart {
    display: flex;
    padding: 5px 10px;
    align-items: center;
}

.depart>* {
    display: block;
}

.depart-logo {
    width: 20px;
    min-width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.depart-line {
    width: 50px;
    min-width: 50px;
    font-size: 18px;
    font-weight: 600;
    text-align: center;
}

.depart-dir {
    font-size: 14px;
}

.depart-cancel {
    font-size: 14px;
    color: #f00;
    font-weight: 600;
    padding-left: 5px;
}

.depart-time {
    margin-left: auto;
    width: 20px;
    min-width: 20px;
    text-align: center;
}

#tab-frame { background-color: #fff4; }

.tab { background-color: #99aeff; }

.monitor-entry { 
    background-color: #fde999; 
    color: #404040;
}

.monitor-entry-head { background-color: #ffab61; }

.depart:nth-child(even) { background-color: #f001; }

@media (prefers-color-scheme: dark) {
    #tab-frame { background-color: #fff2; }

    .tab { background-color: #005c66; }
    
    .monitor-entry {
        background-color: #254e58;
        color: #88bdbc;
    }

    .monitor-entry-head { background-color: #112d32; }

    .monitor-entry-logo {
        /* Awesome Tool :) https://codepen.io/sosuke/pen/Pjoqqp */
        filter: invert(75%) sepia(11%) saturate(789%) hue-rotate(130deg) brightness(94%) contrast(89%);
    }

    .depart:nth-child(even) { background-color: #fff1; }
}