.connections {
    margin: 10px;
}

.connection {
    background-color: #fde999;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 10px;
}

.connection i {
    display: inline-flex;
    width: 16px;
    align-items: center;
    justify-content: center;
    margin-right: 3px;
}

.connection-head {
    background-color: #ffab61;
    display: flex;
    padding: 5px 0;
}

.connection-head-icon {
    width: 15%;
    flex: none;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.connection-head-details {
    display: flex;
    flex: 1;
    margin-right: 5px;
}

.connection-head-details>div {
    flex: 1;
}

.connection-head-info {
    text-align: left;
    padding: 3px 0;
}

.connection-body {
    text-align: left;
}

.connection-body:not(:last-child) {
    border-bottom: 1px solid #404040;
}

.connection-body-mot, .connection-body-start, .connection-body-end {
    display: flex;
    height: 55px;
}

.conn-body-mot-icon, .conn-body-start-icon, .conn-body-end-icon {
    width: 15%;
    flex: none;
    position: relative;
}

.conn-body-mot-info, .conn-body-start-info, .conn-body-end-info {
    margin-right: 10px;
}

.conn-body-mot-info {
    flex: 1;
    display: flex;
    align-items: center;
}

.conn-body-mot-line {
    font-weight: bold;
    font-size: 18px;
    background-color: #ffab61;
    padding: 3px 8px;
    border-radius: 10px;
    width: fit-content;
    margin-right: 5px;
    flex: none;
}

.conn-body-start-info, .conn-body-end-info {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.conn-body-start-stop, .conn-body-end-stop {
    font-weight: bold;
    font-size: 16px;
}

.conn-body-start-details, .conn-body-end-details {
    display: flex;
    justify-content: space-between;
}

.route-circle {
    width: 10px;
    height: 10px;
    border: 5px solid #404040;
    position: absolute;
    top: 17.5px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 10px;
}

.route-circle-fill {
    background-color: #404040;
}

.route-icon {
    width: 30px;
    height: 30px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    top: 12.5px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    font-size: 30px;
    text-align: center;
}

.route-path-before::before {
    content: '';
    display: block;
    position: absolute;
    height: 20px;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    border-left: 5px solid #404040;
}

.route-path-after::after {
    content: '';
    display: block;
    position: absolute;
    height: 20px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    border-left: 5px solid #404040;
}