.connections {
    margin: 10px;
}

.connection {
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 10px;
}

.connection i {
    display: inline-flex;
    width: 16px;
    align-items: center;
    justify-content: center;
    margin-right: 3px;
}

.connection-head {
    display: flex;
    padding: 5px 0;
}

.connection-head-icon {
    width: 15%;
    flex: none;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
}

.connection-head-details {
    display: flex;
    flex: 1;
    margin-right: 5px;
}

.connection-head-details>div {
    flex: 1;
}

.connection-head-info {
    text-align: left;
    padding: 3px 0;
}

.connection-body {
    text-align: left;
}

.connection-body-mot, .connection-body-start, .connection-body-end {
    display: flex;
    height: 60px;
}

.conn-body-mot-icon, .conn-body-start-icon, .conn-body-end-icon {
    width: 15%;
    flex: none;
    position: relative;
}

.conn-body-mot-info, .conn-body-start-info, .conn-body-end-info {
    margin-right: 10px;
}

.conn-body-mot-info {
    flex: 1;
    display: flex;
    align-items: center;
}

.conn-body-mot-line {
    font-weight: bold;
    font-size: 18px;
    padding: 3px 8px;
    border-radius: 10px;
    width: fit-content;
    margin-right: 5px;
    flex: none;
}

.conn-body-start-info, .conn-body-end-info {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.conn-body-start-stop, .conn-body-end-stop {
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 3px;
}

.conn-body-start-city, .conn-body-end-city {
    font-weight: normal;
}

.conn-body-start-details, .conn-body-end-details {
    display: flex;
    justify-content: space-between;
}

.route-circle {
    width: 10px;
    height: 10px;
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 10px;
}

.route-icon {
    width: 30px;
    height: 30px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    top: 15px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    font-size: 30px;
    text-align: center;
}

.route-path-before::before {
    content: '';
    display: block;
    position: absolute;
    height: 20px;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

.route-path-after::after {
    content: '';
    display: block;
    position: absolute;
    height: 22px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.connection { background-color: #fde999 }

.connection-head { background-color: #ffab61 }

.connection-body:not(:last-child) { border-bottom: 1px solid #404040 }

.conn-body-mot-line { background-color: #ffab61 }

.route-circle { border: 5px solid #404040 }

.route-circle-fill { background-color: #404040 }

.route-path-before::before { border-left: 5px solid #404040 }

.route-path-after::after { border-left: 5px solid #404040 }

@media (prefers-color-scheme: dark) {
    .connection {
        background-color: #254e58;
        color: #88bdbc;
    }

    .connection-head { background-color: #112d32 }

    .connection-body:not(:last-child) { border-bottom: 1px solid #88bdbc }

    .conn-body-mot-line {
        background-color: #9693ff;
        color: white;
    }

    .route-circle { border: 5px solid #88bdbc }

    .route-circle-fill { background-color: #88bdbc }

    .route-path-before::before { border-left: 5px solid #88bdbc }

    .route-path-after::after { border-left: 5px solid #88bdbc }
}