.connections {
    margin: 10px;
}

.connection {
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 10px;
    background-color: var(--accent-light);
}

.connection i {
    display: inline-flex;
    width: 16px;
    align-items: center;
    justify-content: center;
    margin-right: 3px;
}

.connection-head {
    display: flex;
    padding: 5px 0;
    background-color: var(--accent-dark);
}

.connection-head-icon {
    width: 15%;
    flex: none;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
}

.connection-head-details {
    display: flex;
    flex: 1;
    margin-right: 5px;
}

.connection-head-details>div {
    flex: 1;
}

.connection-head-info {
    text-align: left;
    padding: 3px 0;
}

.connection.canceled .connection-head {
    background-color: var(--menu-dark);
}

.connection.canceled>:nth-child(2)::before {
    display: block;
    content: "Es liegt ein Problem mit dieser Verbindung vor.";
    background-color: var(--cancel);
    color: var(--text-bright);
    padding: 8px;
    text-align: center;
}

.connection-body {
    text-align: left;
}

.connection-body:not(:last-child) {
    border-bottom: 1px solid var(--text-std);
}

.connection-body-mot, .connection-body-path {
    display: flex;
    height: 60px;
    align-items: center;
}

.conn-body-mot-icon, .conn-body-path-icon {
    width: 15%;
    flex: none;
    position: relative;
    height: 100%;
}

.conn-body-mot-info, .conn-body-path-info {
    margin-right: 10px;
}

.conn-body-mot-info {
    flex: 1;
    display: flex;
    align-items: center;
}

.conn-body-mot-line {
    font-weight: bold;
    font-size: 18px;
    padding: 3px 8px;
    border-radius: 10px;
    width: fit-content;
    margin-right: 5px;
    flex: none;
    background-color: var(--accent-dark);
}

.conn-body-mot-dest {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.conn-body-mot-dest .urgent {
    font-weight: bold;
}

.conn-body-path-info {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.conn-body-stop {
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 3px;
}

.ruledout {
    text-decoration: line-through;
}

.urgent {
    color: #f00;
}

.conn-body-city {
    font-weight: normal;
}

.conn-body-details {
    display: flex;
    justify-content: space-between;
}

.route-circle {
    width: 10px;
    height: 10px;
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 10px;
    border: 5px solid var(--text-std);
}

.connection-body-path:last-child .route-circle { 
    background-color: var(--text-std);
}

.route-icon {
    width: 30px;
    height: 30px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    top: 15px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    font-size: 30px;
    text-align: center;
}

.route-path-before::before {
    content: '';
    display: block;
    position: absolute;
    height: 20px;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    border-left: 5px solid var(--text-std);
}

.route-path-after::after {
    content: '';
    display: block;
    position: absolute;
    height: 22px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    border-left: 5px solid var(--text-std);
}

.connection-body-path:last-child .route-path-after::after {
    display: none;
}

.conn-body-deps {
    padding: 5px;
    font-size: 20px;
    border-radius: 5px;
    flex: none;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 5px;
    background-color: var(--accent-dark);
}